@model Hospital_.Models.Medicamento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:aliceblue">Inserir Medicamento</h1>

<h4 style="color:aliceblue">Medicamento</h4>
<hr />
<div style="color:aliceblue" class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Total: </label>
                <span id="total"> </span>
            </div>
            <div class="form-group">
                <input type="submit" value="Inserir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script style="color:aliceblue">
        function Calcular() {
            var qtde = Number(document.getElementById("quantidade").value);
            var valor = Number(document.getElementById("valor").value);
            var total = document.getElementById("total");

            if (total.textContent == undefined) {
                var calc = qtde * valor;
                var f = calc.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' });
                total.textContent == f;
            }
            else {
                var calc = qtde * valor;
                var f = calc.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' });
                total.innerText = f;
            }
        }
    </script>
}
