@model Hospital_.Models.Paciente

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:aliceblue">Editar Pacientes</h1>

<h4 style="color:aliceblue">Paciente</h4>
<hr />
<div style="color:aliceblue" class="row">
    <div style="color:aliceblue" class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idade" class="control-label"></label>
                <input asp-for="idade" class="form-control" />
                <span asp-validation-for="idade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sintomas" class="control-label"></label>
                <input asp-for="sintomas" class="form-control" />
                <span asp-validation-for="sintomas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
