@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:aliceblue" class="display-4">Bem-Vindo!</h1>
    <a href="" class="brand-logo right"><img src = "https://www.clipartmax.com/png/full/98-983719_ambulance-cross-hospital-icon-image-magnet-hospital.png" width="300"></a>
</div>
